<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="ListnersClass.Listners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<!-- <class name="TestCases.Testlogin" /> -->
			<!-- <class name="TestCases.ContactTest" /> -->
			<!-- <class name="TestCases.LoginAsSunil" /> -->
			<class name="TestCases.TestBuy" />
			<!-- <class name="TestCases.Checkinformation" /> -->

			<!-- <class name="TestCases.RegisterTest" /> -->

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
